---
import AboutTitle from '../components/AboutTitle.astro'
import EventDateDetails from '../components/EventDateDetails.astro'
import QuestionsAndAnswers from '../components/QuestionsAndAnswers.astro'
import Activities from '../components/Activities.astro'
import Layout from '../layouts/Layout.astro'
import Inscription from '../components/Inscription.astro'
---

<Layout title="Cochabamba 3D Print Expo 2024">
  <div class="px-[8%]">
    <AboutTitle />
    <EventDateDetails />
    <QuestionsAndAnswers />
    <Activities />
    <Inscription />
  </div>
</Layout>
