---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.astro'
import Location from '../components/Location.astro'
---

<Layout title="Cochabamba 3D Print Expo 2024">
  <main>
    <header>
      <NavBar />
    </header>
    <div class="px-[10%]">
      <Location />
    </div>
  </main>
</Layout>