---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Location from '../components/Location.astro'
import Organizers from '../components/Organizers.astro'
---

<Layout title="Cochabamba 3D Print Expo 2024">
    <Hero />
    <div class="px-[10%]">
      <Location />
      <Organizers />
    </div>
</Layout>