---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.astro'
---

<Layout title="Cochabamba 3D Print Expo 2024">
  <main>
    <header>
      <NavBar />
    </header>
  </main>
</Layout>
