---
import { Image } from 'astro:assets'

import activitiesData from '../data/activities.json'
import type { Activity } from '../interfaces'

const activities: Activity[] = activitiesData
---

<section class="activities">
  {
    activities.map((activity) => (
      <article class="card">
        <img class="card-img" src={activity.imgPath} alt={activity.title} />
        <h3 class="card-title">{activity.title}</h3>
        <p class="card-description">{activity.description}</p>
      </article>
    ))
  }
</section>
<style>
  .activities {
    @apply my-[20px] flex w-[100%] flex-row flex-wrap justify-between gap-8 lg:gap-10;
  }
  .card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    @apply box-border flex min-h-[50%] flex-col rounded-lg px-[4%] py-[5%] md:w-[47%];
  }
  .card-img {
    @apply mb-[10px] h-[292px] rounded-lg;
  }
  .card-title {
    @apply text-[16px] font-bold sm:text-[24px];
  }
  .card-description {
    @apply text-[14px] sm:text-[20px];
  }
</style>
