<section class="section-cards">
   <div class="div-card">
      <header class="header-title">
         <h2 class="card-title">Inscríbete Aquí</h2>
      </header>

      <section class="section-content">
         <p class="text-center text-[14px] sm:text-base md:text-xl">
            ¡Te esperamos para compartir, <br /> aprender y crear juntos!
         </p>
         <a href="https://forms.gle/dBMQFU6UwscVm7aU8" target="_blank" rel="noopener noreferrer">
            <button class="button-card">Inscribirse</button>
         </a>
      </section>
   </div>

   <div class="div-card">
      <header class="header-title">
         <h2 class="card-title">Información del evento</h2>
      </header>

      <section class="section-content">
         <div class="items-center">
            <p class="text-center text-[14px] sm:text-base md:mt-4 md:text-xl">Convocatoria del evento</p>
         </div>
         <a
            href="https://drive.google.com/file/d/19oeHWxKRGfah9V_u8M3e28kdnLZ7gsK5/view?usp=drivesdk"
            target="_blank"
            rel="noopener noreferrer"
         >
            <button class="button-card">Mas información</button>
         </a>
      </section>
   </div>
</section>

<style>
   /* Contenedor general de las tarjetas */
   .section-cards {
      @apply flex flex-col items-center gap-6 py-4 md:flex-row md:justify-between md:py-8;
   }

   /* Estructura de las tarjetas */
   .div-card {
      @apply flex w-full max-w-[340px] flex-1 flex-col justify-between rounded-2xl bg-white shadow-2xl transition-transform hover:scale-105 md:h-[300px] md:max-w-[580px];
      min-height: 0;
   }

   /* Título de la tarjeta */
   .header-title {
      @apply flex h-24 items-center justify-center rounded-t-2xl bg-[#29A5F2] text-center text-[28px] font-semibold text-white;
   }

   .card-title {
      @apply mx-4 text-[20px] md:text-[28px];
   }

   /* Contenido de la tarjeta, usando justify-between */
   .section-content {
      @apply flex flex-grow flex-col items-center justify-between gap-6 p-4;
   }

   /* Botones centrados y ajustados al contenido */
   .button-card {
      @apply inline-flex w-[186px] items-center justify-center rounded-2xl bg-[#29A5F2] py-2 text-[16px] font-semibold text-white shadow-lg transition-colors hover:bg-[#6cb7e6] sm:px-10 sm:text-[18px] md:mb-6 xl:w-[360px];
   }

   /* Ajustes responsivos */
   @media (min-width: 768px) {
      .section-cards {
         @apply gap-8;
      }

      .div-card {
         @apply w-[580px];
      }

      .button-card {
         @apply text-[24px];
      }
   }
</style>
