---
import { Image } from 'astro:assets'

import Polyhedron from '../assets/images/polyhedron.png'
---

<section class="date-details lg:flex">
  <Image class="polyhedron" src={Polyhedron} alt="polyhedron" />
  <div>
    <h2 class="date-details-title">
      22 y 23 de noviembre de 2024, Cochabamba - Bolivia
    </h2>
    <p class="date-details-content">
      Es el encuentro perfecto para makers, emprendedores y entusiastas de la
      impresión 3D. Durante dos días, podrás participar en charlas, talleres y
      actividades colaborativas que te permitirán aprender nuevas técnicas,
      mejorar tus equipos y conectar con expertos del sector.
    </p>
    <div class="buttons-cotainer">
      <a class="button btn-blue" href="https://forms.gle/dBMQFU6UwscVm7aU8"
        >Inscribirse</a
      >
      <a
        class="button btn-yellow"
        href="https://drive.google.com/file/d/19oeHWxKRGfah9V_u8M3e28kdnLZ7gsK5/view?usp=drivesdk"
        >Convocatoria</a
      >
    </div>
  </div>
</section>

<style>
  .date-details {
    @apply my-[20px];
  }
  .date-details-title {
    @apply mb-[10px] text-center text-[20px] font-bold text-[#0762D9] drop-shadow-lg sm:text-[32px] md:mb-[20px];
  }
  .date-details-content {
    @apply mb-[20px] text-[14px] sm:text-[20px];
  }
  .buttons-cotainer {
    @apply flex flex-row justify-center;
  }
  .button {
    @apply flex h-[55px] w-[200px] items-center justify-center rounded-lg text-[16px] font-bold text-white sm:text-[20px];
  }
  .btn-blue {
    @apply mr-3 bg-[#29A5F2];
  }
  .btn-yellow {
    @apply bg-[#F2B705];
  }
  .polyhedron {
    @apply h-[260px] w-[299px];
  }
</style>
