---
import LogoIcon from './icons/Logo.astro'
import LocationIcon from './icons/Location.astro'
import TelephoneIcon from './icons/Telephone.astro'
---

<footer class="w-full pt-[2.5rem] pb-[1rem] bg-[rgb(0,0,0,1)]">
  <div class="flex justify-between mx-[3rem]">
    <LogoIcon />
    <div>
      <div class="flex justify-center items-center">
        <LocationIcon class="me-1" />
        <div class="text-white text-[16px] font-semibold">
          Calle 25 de mayo entre Mayor Rocha y Ecuador
        </div>
      </div>
      <div class="flex justify-center items-center">
        <TelephoneIcon class="me-1" />
        <div class="text-white text-[16px] font-semibold">+591 75494907</div>
      </div>
    </div>
  </div>
  <p class="text-center text-white text-[10px] font-normal">
    ©2024. Creado por ____________ Términos y condiciones | Políticas de
    privacidad
  </p>
</footer>
