---
import { Image } from 'astro:assets'
import Form from '../assets/images/form.png'
---

<section class="inscription">
  <h2 class="inscription-title">¡Inscríbete!</h2>
  <Image src={Form} alt="google forms logo" />
  <p class="description">
    Completa el formulario de inscripción del siguiente enlace:
  </p>
  <!-- TODO AGREGAR ENLACE AL FORM -->
  <a class="button btn-blue" href=".">Inscribirse</a>
</section>
<style>
  .inscription {
    @apply mx-auto my-[80px] flex h-full w-full flex-1 flex-col items-center gap-5 sm:w-[50%];
  }
  .inscription-title {
    @apply text-center font-bold text-[#0762D9] sm:text-[36px];
  }
  .description {
    @apply text-[12px] sm:text-[20px];
  }
  .button {
    @apply m-auto flex h-[55px] w-[200px] items-center justify-center rounded-lg text-[16px] font-bold text-white sm:text-[20px];
  }
  .btn-blue {
    @apply bg-[#29A5F2];
  }
</style>
