

<section class="mx-14 grid grid-cols-1 gap-x-40 gap-y-8 md:mx-24 md:grid-cols-2">
  <div class="grid">
    <h2 class="text-2xl font-bold text-[#0762D9] md:text-3xl">Organizan :</h2>
    <hr class="my-4 h-0.5 bg-[#0762D9] border-0 " />
    <div class=" gap-x-4 items-center flex justify-between md:gap-x-10">
      <img
        class="col h-12  md:h-20"
        src="/src/assets/logos/jawars-logo.png"
        alt="Descripción de la foto"
      />
      <img
        class="h-10 w-12 md:h-16 md:w-20"
        src="/src/assets/logos/CBA-logo.png"
        alt="Descripción de la foto"
      />
      <img
        class="h-8 md:h-14 md:w-96 "
        src="/src/assets/logos/amSpaces-logo.png"
        alt="Descripción de la foto"
      />
    </div>
  </div>
  <div class="grid">
    <h2 class="text-2xl font-bold text-[#0762D9] md:text-3xl">Patrocinadores :</h2>
    <hr class="my-4 h-0.5 bg-[#0762D9] border-0 " />
    <div class=" gap-x-6 items-center flex justify-between md:gap-x-10">
      <img
        class="h-12 md:h-20"
        src="/src/assets/logos/tesla-logo.png"
        alt="Descripción de la foto"
      />
      <img
        class="h-10 md:h-20"
        src="/src/assets/logos/3Dtesla-logo.png"
        alt="Descripción de la foto"
      />
      <img
        class="h-10 w-36 md:h-16 md:w-80"
        src="/src/assets/logos/awers-logo.png"
        alt="Descripción de la foto"
      />
      <img
        class="h-10 md:h-20"
        src="/src/assets/logos/ardunel-logo.png"
        alt="Descripción de la foto"
      />
    </div>
  </div>
</section>
