---

---

<section class="questions-answer-container">
  <div class="question-and-answer">
    <p class="question">¿Qué es la Pernocta en el Cochabamba 3D Print Expo?</p>
    <p class="answer">
      La pernocta es una de las actividades más emocionantes de nuestro evento,
      que tendrá lugar la noche del 22 de noviembre. Durante esta noche, los
      participantes tendrán la oportunidad de trabajar juntos en un ambiente
      colaborativo, rodeados de makers y expertos en impresión 3D. La pernocta
      incluirá
    </p>
  </div>
</section>
<style>
  .questions-answer-container {
    @apply my-[40px];
  }
  .question-and-answer {
    @apply mx-auto w-[80%] text-center;
  }
  .question {
    @apply m-auto inline-block border-b-2 border-[#0762d9] text-center text-[24px] font-bold text-[#0762D9];
  }
  .answer {
    @apply text-[20px];
  }
</style>
